/* make it pulsate */
@keyframes glow {
    0% {
        box-shadow: 0 0 10px 5px #00b34f
    }
    50% {
        box-shadow: 0 0 20px 5px #00b34f;
      transform:scale(1.02);
    }
    100% {
        box-shadow: 0 0 10px 5px #00b34f
    }
}

/* apply the animation */
.glow {
    animation: glow 3s ease-in-out infinite alternate;
}

html, body, #__next {
    height: 100%;
    overflow: hidden;
}