.cool-background { /* Created with https://www.css-gradient.com */
    background: #1a202c;
    background: radial-gradient(ellipse at center, #1a202c, #010101);
}

html {
    overflow-y: scroll;
}

body {
    overflow: auto !important;
    margin-right: 0 !important;
}